{% extends "FightmasterGalleryBundle::layout.html.twig" %}
{% block fightmaster_gallery_sub_title %}{% trans from 'FightmasterGalleryBundle' %}gallery.header.edit{% endtrans %}{% endblock %}

{% block fightmaster_gallery_content %}
{% form_theme edit_form 'FightmasterGalleryBundle::form.html.twig' %}
{% form_theme delete_form 'FightmasterGalleryBundle::form.html.twig' %}
<h1>{% trans from 'FightmasterGalleryBundle' %}gallery.header.edit{% endtrans %}</h1>
    {% if fightmaster_gallery_is_owner(entity) %}
        <form action="{{ path('FightmasterGalleryBundle_Gallery_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit" class="btn btn-info">{% trans from 'FightmasterGalleryBundle' %}button.edit{% endtrans %}</button>
            </p>
        </form>
    {% endif %}

{% if fightmaster_gallery_is_owner(entity) %}
<form action="{{ path('FightmasterGalleryBundle_Gallery_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger"  onclick="javascripts:if (!confirm('{% trans from 'FightmasterGalleryBundle' %}gallery.confirm.remove{% endtrans %}')) return false;">{% trans from 'FightmasterGalleryBundle' %}button.delete{% endtrans %}</button>
</form>
{% endif %}

<a href="{{ path('FightmasterGalleryBundle_Gallery') }}">
    {% trans from 'FightmasterGalleryBundle' %}gallery.links.back_to_list{% endtrans %}
</a>

{% endblock fightmaster_gallery_content %}
